/* NAVBAR CSS */

.navbar-brand {
  padding: auto;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}
.navbar {
  background-color: #6166E1;
  margin-bottom: 0px;
  border-radius: 0px
}

.navbar-nav a:hover {
  color: #4AB9D3 !important;
}

.navbar-nav a {
  color: #ffffff !important;
  font-size: 200%;
}

/* HOME PAGE CSS */

#dropdown_profile {
  background-color: #6166E1;
}

#banner {
  max-width: 100%;
}

#submit {
  font-size: 14px;
  color: #ffffff;
  background-color: #6166E1;
}

#submit:hover {
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
}

#button_gotop {
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  position: fixed;
  top: 95vh;
  right: 3vh;
  color: #ffffff;
  background-color: #6166E1;
  z-index: 2;
}  

#user_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container-2 {
  padding: 25px;
}

/* COACH CALENDER CSS */

.month {
  padding: 25px 25px;
  width: 100%;
  background: #07BCAB;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
}

.month .next {
  float: right;
}

.weekdays {
  margin: 0;
  padding: 15px;
  background-color: #f1f1f1;
}

.weekdays li {
  display: inline-block;
  width: 14%;
  color: #666;
  text-align: center;
  font-size: 12px;
}

.days {
  padding: 10px;
  background: #FAFAFA;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 14%;
  height: 100px;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #07BCAB;
  color: white !important;
  font-size:12px;
  text-align: center;
}

.add_btn {
  border: none;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #07BCAB;
  float: right;
}  

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  

/* COACH PLANS CSS */
.plans_button_down:hover {
  color: #DDDDDD;
}

.plans_header{
  padding: 10px 10px 10px 10px;
  background-color: #07BCAB;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.plans_content {
  padding: 10px 10px 10px 10px;
  background-color:  #FAFAFA;
  margin-bottom: 10px;
}

.plans_training {
  background-color: #ffffff;
  margin: 10px;
}

.plan_content {
  padding: 10px 10px 10px 10px;
  background-color: #FAFAFA;
  margin: 10px;
}

.plan_options{
  background-color: #ffffff;
  margin: 10px;
}

/* COACH DASH CSS */

.content_dash {
  margin:10px;
}

.header_dash {
  background-color:#07BCAB;
  color:white;
  padding: 10px 10px 10px 10px;
}

.table_dash {
  background-color:#FAFAFA;
  margin-top: 5px;
  padding: 5px 10px 10px 10px;
} 

/* ATHLETE GOALS CSS */

.goal_content{
  padding: 10px 10px 10px 10px;
  background-color: #FAFAFA;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progressbar {
  background-color: #07BCAB;
  border-radius: 13px;
  padding: 3px;
}

.progressbar>div {
  background-color: white;
  height: 18px;
  border-radius: 10px;
  text-align:center;
  font-size: small;
  font-weight: bold;
}