.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}

.navbar {
  background-color: #6166E1;
}

body nav .navbar-nav a:hover {
  color: #4AB9D3 !important;
}

body nav .navbar-nav a {
  color: #ffffff !important;
  font-size: 200%;
}

#dropdown1 {
  background-color: #6166E1;
}