{% extends "base_coach.html" %}

{% block app_content %}

<div class="row justify-content-center container-2">
    <div class="col-lg-auto">
        <h1>Athletes</h1>
        <div class="table-responsive">
            <table class="table" style="font-size: medium;">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Height</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Birthday</th>
                </thead>
                <tbody>
                    {% for athlete in athletes %}
                    <tr>
                        <td>
                            {{ athlete.first_name }} {{ athlete.last_name }}
                        </td>
                        <td>
                            {{ athlete.email }}
                        </td>
                        <td>
                            {{ athlete.height }}
                        </td>
                        <td>
                            {{ athlete.weight }}
                        </td>
                        <td>
                            {{ athlete.birthday.day }} - {{ athlete.birthday.month }} - {{ athlete.birthday.year }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>>
</div>

{% endblock %}