{% extends 'bootstrap/base.html' %}

{% block title %}
Goaler.AI
{% endblock %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

{% block styles %}
{{super()}}
<link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='styles/custom-responsive-styles.css') }}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="static/js/index.js"></script>


{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand mr-auto" href="{{ url_for('coach') }}"><img src="static/images/logo.png" alt="Goaler.AI" /></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span
                class="navbar-toggler-icon"></span> </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
    
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('coach') }}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('planing') }}">Plans</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Statistics</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                        aria-expanded="false">Profile</a>
                    <ul id = "dropdown_profile" class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="{{ url_for('athletes') }}">Your Athletes</a></li>
                        <li><a href="#">Your Preferences</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Settings</a></li>                        
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>              
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}

    <footer class="footer text-center">

        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="javascript:void(0)">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright © Goaler.AI 2020</p>
            <p class="text-muted small mb-0">Designed by <a href="https://www.position2.com/" target="_balnk">Position2</p>
        </div>
    </footer>

</div>
{% endblock %}