{% extends "base_coach.html" %}

{% block app_content %}

<div class="container-2">
    <div class="flex-container">
        <div class="flex-child">
            <h1 class="d-inline">Calendar</h1>
        </div>
        <div class="flex-child">
            <a id="add_training" class="btn btn-sl d-inline" href="{{ url_for('new_training') }}">
                Add Training <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
  
    <br>
    <div class="month">
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li> {{ today.strftime("%B") }} {{ today.year }} </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>

    <ul class="days">
        {% for skip in skip_days %}
        <li> - </li>
        {% endfor %}

        {% for day in days %}
        <li> {{ day }} 
            {% for training in trainings %}
                {% if day == training %} 
                <span class="active" >Training</span>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}